In [2]:
cd /Users/fumengjin/Documents/DATAMIN/train

/Users/fumengjin/Documents/DATAMIN/train

In [3]:
import numpy as np
import pandas as pd
import types
from libsvm.svmutil import *

In [4]:
#test
df = pd.DataFrame(
        {'col1': [1, 100], 'col2': [2, 3], 'col3':[4,9]})
df.T
d = df.T.to_dict()
l=[]
l.append(d[0])
l

[{'col1': 1, 'col2': 2, 'col3': 4}]

In [5]:
df.T

      0    1
col1  1  100
col2  2    3
col3  4    9

In [6]:
df.T.apply(lambda x: (x-x.mean())/x.std())

             0         1
col1 -0.872872  1.152940
col2 -0.218218 -0.631664
col3  1.091089 -0.521276

In [7]:
norm=pd.read_excel("./tnorm.xlsx")
st=pd.read_excel("./tst.xlsx")
#x的变换
norm = norm.T.apply(lambda x: (x-x.mean())/x.std())
st = st.T.apply(lambda x: (x-x.mean())/x.std())
dn = norm.to_dict()
ln = []
for i in range (0,158):
    ln.append(dn[i])
ds = st.to_dict()
ls = []
for i in range (0,152):
    ls.append(ds[i])
x = ln+ls
#y的变换
positive_labels = [1 for i in range (0,158)]
negative_labels = [0 for i in range (0,152)]
y = positive_labels+negative_labels

In [14]:
x_train = x[50:200]
y_train = y[50:200]
x_test = x[0:50]+x[201:310]
y_test = y[0:50]+y[201:310]

In [15]:
prob = svm_problem(y_train, x_train)
param = ('-s 0 -t 2 ')
m =svm_train(prob,param,'-c 5 -g100')
p_label, p_acc, p_val = svm_predict(y_test, x_test, m)

Accuracy = 100% (159/159) (classification)